<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/trang_chu.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <div th:fragment="footer">
        <!-- Footer-->
        <footer class="footer">
            <div class="footer-container">
                <div class="footer-section">
                    <h2>Về Chúng Tôi</h2>
                    <p> Cô Cô Shop chuyên cung cấp các món ăn ngon và hấp dẫn, phục vụ mọi khách hàng với tiêu chí chất lượng và sự hài lòng.</p>
                </div>
                <div class="footer-section">
                    <h2>Liên Hệ</h2>
                    <p>Số Điện Thoại: 0123 456 789</p>
                    <p>Email: cocoshop@gmail.com</p>
                </div>
                <div class="footer-section">
                    <h2>Địa Chỉ</h2>
                    <p>123 Đường Trần Phú, Phường Mỗ Lao, Quận Hà Đông, Hà Nội</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>