<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Giỏ Hàng</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" th:href="@{/css/Cart.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/trang_chu.css}">

</head>

<body>
<!-- Header -->
<div th:replace="~{/partials/Header::header}"></div>


<!-- Giỏ hàng -->
<div class="container-cart">
  <h2>Giỏ Hàng</h2>

  <!-- Thông tin sản phẩm -->
  <div class="product-item" th:data-price="${item.product.price}" th:data-id="${item.cartItemId}" th:data-productid="${item.product.id}" th:each="item : ${listItems}">
    <img th:src='${item.product.image}' alt="Gà rán KFC" class="product-image">
    <div class="product-info">
      <div class="product-name" th:text="${item.product.name}"></div>
      <div class="product-detail">Giá: <span class="product-price" th:text="${item.product.price}"></span> VND</div>
    </div>
    <div class="quantity-control">
      <button class="decrease-btn">-</button>
      <input type="number" class="quantity-input" th:value="${item.quantity}" min="1">
      <button class="increase-btn">+</button>
      <button class="delete-btn">Xóa</button>
    </div>
  </div>

  <!-- Tổng cộng -->
  <div class="total-container">
    Tổng cộng: 650.000 VND
  </div>

  <!-- thanh toán -->
  <a th:href="@{/pay}" class="checkout-btn">Thanh toán </a>

  <!-- nút quay lại -->
  <a th:href="@{/}" class="back-btn">Quay lại</a>

</div>

<!-- Footer-->
<div th:replace="~{/partials/Footer::footer}"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:src="@{/js/trang_chu.js}"></script>
<script th:src="@{/js/Cart.js}"></script>
</body>

</html>