<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Website</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/trang_chu.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>
<div th:replace="~{/partials/Header::header}"></div>
<!-- Nội dung chính (slider) -->
<div class="slider">
    <div class="list">
        <div class="item">
            <img th:src="@{/img/2e3d6845011de0d24c13dd1e1028a2ff.jpg}" alt="">

        </div>
        <div class="item">
            <img th:src="@{/img/background.png}" alt="">

        </div>
        <div class="item">
            <img th:src="@{/img/c4ef169927c517d3c5c96a66f94a17b6.jpg}" alt="">

        </div>
        <div class="item">
            <img th:src="@{/img/background.png}" alt="">

        </div>
        <div class="item">
            <img th:src="@{/img/2e3d6845011de0d24c13dd1e1028a2ff.jpg}" alt="">

        </div>
    </div>
    <div class="buttons">
        <button id="prev"><</button>
        <button id="next">></button>
    </div>
    <ul class="dots">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>


<div id="wp-products">
    <h2>Các sản phẩm bán chạy</h2>
    <ul id="list-products">
        <li class="item" th:each="product : ${listProduct}">
            <a th:href="@{/detail-{id}(id=${product.id})}">
                <img th:src="${product.image}" th:alt="${product.name}">
                <div class="name" th:text="${product.name}"></div>
                <div class="price" th:text="${product.price + ' VND'}"></div>
            </a>
        </li>
    </ul>

</div>
</div>


<div th:replace="~{/partials/Footer::footer}"></div>


</div>
<script th:src="@{/js/dang_nhap.js}"></script>
<script th:src="@{/js/trang_chu.js}"></script>
</body>

</html>
