<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập / Đăng Kí</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/dang_nhap.css}">
</head>
<body>

<!-- Header -->
<header class="header">
    <div class="container">
        <!-- Logo -->
        <a href="#" class="navbar-brand">Cô Cô Shop</a>

        <!-- Navbar -->
        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Trang chủ</a></li>
                <li class="nav-item"><a class="nav-link" href="/do_an.html">Thực đơn</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="/do_uong.html">Đồ uống</a></li> -->
                <li class="nav-item"><a class="nav-link active" th:href="@{/login}">Đăng Nhập</a></li>
            </ul>

            <!-- Tìm kiếm -->
            <div class="search-container">
                <input type="text" class="search-bar" placeholder="Tìm kiếm sản phẩm...">
                <button class="search-btn">Tìm kiếm</button>
            </div>

            <!-- giỏ hàng -->
            <form class="d-flex">
                <a class="btn btn-outline-light" href="thanh_toan.html">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="badge bg-danger text-white ms-2 rounded-pill">0</span>
                </a>
            </form>



        </nav>
    </div>
</header>

<!-- Main Content -->
<div class="container-form">
    <div class="header-title">Cô Cô Shop</div>

    <!-- Login Form -->
    <div class="form login-form" id="loginForm">
        <input type="text" id="username" placeholder="Username" required>
        <input type="password" id="password" placeholder="Password" required>
        <button type="submit" onclick="handleLogin()">Đăng Nhập</button>
        <p id="error-message">Tên đăng nhập hoặc mật khẩu không đúng!</p>
        <div class="toggle-btns">
            <a href="/dang_ki.html">
                <button type="button">Đăng Kí</button>
            </a>
        </div>
    </div>


    <!-- Register Form -->
    <div class="form signup-form" id="registerForm" style="display: none;">
        <input type="text" placeholder="Tên Đăng Nhập" required>
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Mật Khẩu" required>
        <input type="password" placeholder="Xác Nhận Mật Khẩu" required>
        <button type="submit">Đăng Kí</button>
        <div class="toggle-btns">
            <button onclick="showLogin()">Đăng Nhập</button>

            <a href="/dang_ki.html">
                <button type="button">Đăng Kí</button>
            </a>

        </div>
    </div>
</div>

<!-- Footer -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h2>Về Chúng Tôi</h2>
            <p> Cô Cô Shop chuyên cung cấp các món ăn ngon và hấp dẫn, phục vụ mọi khách hàng với tiêu chí chất lượng và sự hài lòng.</p>
        </div>
        <div class="footer-section">
            <h2>Liên Hệ</h2>
            <p>Số Điện Thoại: 0123 456 789</p>
            <p>Email: cocoshop@gmail.com</p>
        </div>
        <div class="footer-section">
            <h2>Địa Chỉ</h2>
            <p>123 Đường Trần Phú, Phường Mỗ Lao, Quận Hà Đông, Hà Nội</p>
        </div>
    </div>
</footer>

<script th:src="@{/js/dang_nhap.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>