<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lịch Sử Mua Hàng</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/Order_history.css}">
    <link rel="stylesheet" th:href="@{/css/trang_chu.css}">
</head>
<body>
<!-- Header -->
<div th:replace="~{/partials/Header::header}"></div>

<!-- Main Content -->
<main class="content-order">
    <!-- Đơn hàng 1 -->
    <div class="order" th:each="orderItem : ${orderHistoryEntities}">
        <div class="order-header">
            <div class="order-date">Ngày đặt: <span th:text="${orderItem.createdAt.toString()}"></span></div>
        </div>
        <div class="order-content">
            <!-- Sản phẩm 1 -->
            <div class="product" th:each="item : ${orderItem.orderItems}">
                <img th:src="${item.product.image}" th:alt="${item.product.name}">
                <div class="product-details">
                    <div class="product-name" th:text="${item.product.name}"></div>
                    <div class="quantity" th:text="${'x' + item.quantity}"></div>
                </div>
            </div>
        </div>
        <div class="order-total">
            Tổng tiền: <span class="total-price"><span th:text="${orderItem.totalAmount}"></span>VNĐ</span>
        </div>
    </div>
</main>


<!-- Footer-->
<div th:replace="~{/partials/Footer::footer}"></div>
<script th:src="@{/js/trang_chu.js}"></script>
</body>
</html>